/.metadata/
/.class

/.mvn/
*/.mvn/**

/target/
*/target/**
**/META-INF/
!.mvn/wrapper/maven-wrapper.jar

#VS Code
*/.vscode/**
.vscode/launch.json
.vscode/settings.json

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

netflix-eureka-naming-server/mvnw
